<a href="https://colab.research.google.com/github/guvenim/colab/blob/master/iris_kernel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importing libraries and downloading iris dataset

import pandas as pd #Python Data Analysis Library 
import numpy as np #Python Scientific Library

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
new_names = ['sepal_length','sepal_width','petal_length','petal_width','iris_class']
dataset = pd.read_csv(url, names=new_names, skiprows=0, delimiter=',')

dataset.info()
dataset.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
iris_class      150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

   sepal_length  sepal_width  petal_length  petal_width   iris_class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [2]:
# removing labels from dataset
colnames = dataset.columns
colnames
dataset_kernel = dataset[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]
dataset_kernel.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [3]:
#normalizing the dataset and converting it to a numpy array
normal_kernel_dataset =dataset_kernel.div(dataset_kernel.sum(axis=1), axis=0)

normal_kernel_dataset.info()
print(normal_kernel_dataset.head())

normal_matrix = np.array(normal_kernel_dataset.values)
normal_matrix[0]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
dtypes: float64(4)
memory usage: 4.8 KB
   sepal_length  sepal_width  petal_length  petal_width
0      0.500000     0.343137      0.137255     0.019608
1      0.515789     0.315789      0.147368     0.021053
2      0.500000     0.340426      0.138298     0.021277
3      0.489362     0.329787      0.159574     0.021277
4      0.490196     0.352941      0.137255     0.019608

array([0.5       , 0.34313725, 0.1372549 , 0.01960784])

In [0]:
#kernel function
def kernel_function(x,x_prime):
  sub = x-x_prime
  norm = np.linalg.norm(sub)
  return np.exp(-norm**2)

In [5]:
#test for the kernel function
print(kernel_function(normal_matrix[1],normal_matrix[145]))

0.929943161693678

In [0]:
# kernel matrix 150 by 150 matrix
gram_matrix = np.zeros((150,150))

# diagonal will 1's since x-x = 0 and exp(0)=1
for i in range(150):
  gram_matrix[i][i]=1.0

In [0]:
for i in range(150):
  for j in range(i+1,150):
    gram_matrix[i][j]= kernel_function(normal_matrix[i],normal_matrix[j] )
    gram_matrix[j][i] = gram_matrix[i][j] # because of symmetry

In [8]:
#run couple of tests
print(gram_matrix[3][5] == gram_matrix[5][3])
print(gram_matrix[19][25] == gram_matrix[25][19])
print(gram_matrix[149][5] == gram_matrix[5][149])

True
True
True